/* CART STYLES */

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 6rem);
  height: 100%;
  margin-top: 6rem;
  padding-top: 2rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cart-items {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 60%;
  grid-template-columns: repeat(3, 33.33%);
  grid-auto-rows: auto-fit;
  row-gap: 3.5rem;
  padding: 3rem 0;
}

.empty-cart-container {
  width: 450px;
  height: 650px;
  background-image: url('https://source.unsplash.com/peN4-At20n0/450x650');
  background-size: cover;
  background-repeat: no-repeat;
}
.empty-cart-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 7rem;
  text-align: center;
}
