/* CART STYLES */

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 6rem);
  height: 100%;
  margin-top: 6rem;
  padding-top: 2rem;
}

.cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cart-items {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 60%;
  grid-template-columns: repeat(3, 33.33%);
  grid-auto-rows: auto-fit;
  row-gap: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
}
.cart-total {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  background-color: white;
  border-top: 1px solid #d1d0d0;
}
.total-text {
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 1rem;
}

.empty-cart-container {
  width: 450px;
  height: 650px;
  background-image: url('https://source.unsplash.com/peN4-At20n0/450x650');
  background-size: cover;
  background-repeat: no-repeat;
}
.empty-cart-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 7rem;
  text-align: center;
}
