/* COMING SOON STYLES */

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 6rem);
  height: 100%;
  margin-top: 6rem;
  padding-top: 2rem;
}

.container {
  width: 450px;
  height: 650px;
  background-image: url('https://source.unsplash.com/D1wiHCovGJ0/450x650');
  background-size: cover;
  background-repeat: no-repeat;
}
.text {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 35rem;
  text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 350px;
    height: 550px;
  }
  .text {
    margin-top: 30rem;
  }
}
