/* HOME STYLES */
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('https://source.unsplash.com/OZ2PtmqXckk/1600x900');
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
