/* NAVBAR STYLES*/
.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  height: 6rem;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.3rem;
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}
.root a {
  text-decoration: none;
}

.logo {
  font-family: 'Abhaya Libre', serif;
  font-size: 3rem;
}

.icon {
  position: relative;
  font-size: 2rem;
}
.icon-num {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  margin-top: -9px;
  left: 50%;
  margin-left: -9px;
  font-size: 1rem;
  text-align: center;
}

.white-text a {
  color: white;
}
.black-text a {
  color: black;
}
.black-text:hover {
  background-color: white;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .logo {
    font-size: 1.5rem;
  }
}
