/* SHOP ITEM STYLES */
.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 570px; */
  text-transform: uppercase;
}

.root a {
  text-decoration: none;
  color: black;
}
.root a:hover {
  text-decoration: underline;
}

.info {
  height: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.88rem;
  letter-spacing: 0.05rem;
}
.info a {
  font-weight: 400;
}
.info p {
  font-weight: 300;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
