.root {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  min-height: calc(100vh - 6rem);
  height: 100%;
  margin-top: 6rem;
  padding: 2rem 0;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: auto-fit;
  row-gap: 3.5rem;
}

/* Extra large devices (desktops, less than 1600px) */
@media (max-width: 1599.98px) {
  .root {
    grid-template-columns: repeat(3, 33.33%);
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .root {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .root {
    grid-template-columns: repeat(1, 100%);
  }
}
