.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  height: 520px;
  text-transform: uppercase;
}

.root a {
  text-decoration: none;
  color: black;
}
.root a:hover {
  text-decoration: underline;
}

.info {
  height: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
